DATABASE_URL=postgres://flowtime:flowtime@db:5432/flowtime
FRONTEND_ORIGINS=http://localhost:3000,https://flow-time-wheat.vercel.app
CSRF_COOKIE_SAMESITE=None
SESSION_COOKIE_SAMESITE=None
CSRF_COOKIE_SECURE=true
SESSION_COOKIE_SECURE=true
